<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="SpaceKey" value="PJ1" />
    <add key="SpaceName" value="Project 1" />
    <add key="SpaceDescription" value="This is the Project 1 Description" />
    <!-- PROD 
    <add key="CreateSpaceUrl" value="http://lpconfluence01.asiandevbank.org:8080/rest/api/space" />
    <add key="CreatePageUrl" value="http://lpconfluence01.asiandevbank.org:8080/rest/api/content/" />
    <add key="GetPageByTitleAndKeyUrl" value="http://lpconfluence01.asiandevbank.org:8080/rest/api/content?title={0}&amp;spaceKey={1}&amp;expand=body.storage,version" />
    <add key="UpdatePageUrl" value="http://lpconfluence01.asiandevbank.org:8080/rest/api/content/{0}"/>
    <add key="GetChildPagesUrl" value="http://lpconfluence01.asiandevbank.org:8080/rest/api/content/{0}/child/page"/>
    <add key="baseUrl" value="http://lpconfluence01.asiandevbank.org:8080"/>
    -->
    <!-- DEV -->
    <add key="CreateSpaceUrl" value="http://ldconfluence01.asiandevbank.org:8090/rest/api/space" />
    <add key="CreatePageUrl" value="http://ldconfluence01.asiandevbank.org:8090/rest/api/content/" />
    <add key="GetPageByTitleAndKeyUrl" value="http://ldconfluence01.asiandevbank.org:8090/rest/api/content?title={0}&amp;spaceKey={1}&amp;expand=body.storage,version" />
    <add key="UpdatePageUrl" value="http://ldconfluence01.asiandevbank.org:8090/rest/api/content/{0}" />
    <add key="GetChildPagesUrl" value="http://ldconfluence01.asiandevbank.org:8090/rest/api/content/{0}/child/page" />
    <add key="baseUrl" value="http://ldconfluence01.asiandevbank.org:8090" />
    <add key="username" value="vd2" />
    <add key="password" value="Welcome4" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="parentPageChildrenDisplay" value="&lt;ac:structured-macro ac:macro-id=&quot;cd79398f-133d-4dc8-923f-e7e0973e6710&quot; ac:name=&quot;children&quot; ac:schema-version=&quot;1&quot;&gt;&lt;ac:parameter ac:name=&quot;all&quot;&gt;true&lt;/ac:parameter&gt;&lt;/ac:structured-macro&gt;" />
    <add key="fileListContent" value="&lt;ac:structured-macro ac:macro-id=&quot;5a144426-2173-4a1f-a3f5-1abb7f7d0529&quot; ac:name=&quot;attachments&quot; ac:schema-version=&quot;1&quot;&gt;&lt;ac:parameter ac:name=&quot;upload&quot;&gt;true&lt;/ac:parameter&gt;&lt;/ac:structured-macro&gt;&lt;/p&gt; &lt;p&gt;&lt;ac:structured-macro ac:macro-id=&quot;1fb4bc9e-e1c6-499f-96e1-5801fc0bcdce&quot; ac:name=&quot;contributors-summary&quot; ac:schema-version=&quot;1&quot; /&gt;" />
    <add key="ParentBusinessCaseTitle" value="0.02 Business Case" />
    <add key="ProjectBusinessCaseTitle" value="0.02 Business Case" />
    <add key="PipelineBusinessCaseTitle" value="Business Case" />
    <add key="ParentFunctionalRequirementTitle" value="1.01 Functional Requirements" />
    <add key="includePageContent" value="&lt;ac:structured-macro ac:macro-id=&quot;caa654b9-57bd-4ca1-a38d-2b84d228410d&quot; ac:name=&quot;include&quot; ac:schema-version=&quot;1&quot;&gt;&lt;ac:parameter ac:name=&quot;&quot;&gt;&lt;ac:link&gt;&lt;ri:page ri:content-title=&quot;{0}&quot; ri:space-key=&quot;{1}&quot; /&gt;&lt;/ac:link&gt;&lt;/ac:parameter&gt;&lt;/ac:structured-macro&gt;" />
  </appSettings>
</configuration>